body, html{
    margin: 5px;
    background-color: orange;
}

h1 {
    text-align: center;
    text-size-adjust: 30px;
    color:crimson;
    text-decoration: underline;
}

#navBar {
    border-style: solid;
    border-color: black;
    background-color: cornflowerblue;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    position: fixed;
}

#navBar a {
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 5px 10px 5px 10px;
}

img {
    float: left;
    height: 350px;
    width: 350px;
    margin: 10px;
}

#boxOne {
    display: inline-block;
    background-color: blue;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    margin: 50px 0px 0px 350px;
    padding: 10px 10px 10px 10px;
    height: 400px;
    width: 600px;
    text-align: center;
    color: yellow;
}

#boxTwo {
    display: inline-block;
    background-color: lightcoral;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    margin: 50px 0px 0px 350px;
    padding: 10px 10px 10px 10px;
    height: 400px;
    width: 600px;
    text-align: center;
    color: purple;
}

#boxThree {
    display: inline-block;
    background-color: violet;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    margin: 50px 0px 0px 350px;
    padding: 10px 10px 10px 10px;
    height: 400px;
    width: 600px;
    text-align: center;
    color: green;
}