/* stylesheet for index.html */

html, body {
    margin: 5px;
    padding: 0;
    font-family: sans-serif;
}

#grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 50px);
}

header {
    border-radius: 5%;
    font-size: 20px;
    background-color: crimson;
    text-align: center;
    grid-column: 1 / 3;
}

nav {
    border-radius: 5%;
    font-size: 20px;
    background-color: violet;
    text-align: center;
    grid-column: 3 / 5;
}

main {
    border-radius: 5%;
    font-size: 20px;
    background-color: limegreen;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 2;
}

#misc{
    border-radius: 5%;
    font-size: 20px;
    background-color: skyblue;
    text-align: center;
    grid-column: 2 / 5;  
}


footer {
    border-radius: 5%;
    font-size: 20px;
    background-color: hotpink;
    text-align: center;
    grid-column: 1 / 5;
}

#grid{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: 100px 100px 100px;
}
    
#head {
    border-radius: 5%;
    font-size: 20px;
    background-color: crimson;
    text-align: center;
    grid-column: 1 / 5;
}
    
#nav {
    border-radius: 5%;
    font-size: 20px;
    background-color: violet;
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 2 /4;
}
    
#main {
    border-radius: 5%;
    font-size: 20px;
    background-color: limegreen;
    text-align: center;
    grid-column: 3 / 5;
    grid-row: 2;
    }
    
#extra {
    border-radius: 5%;
    font-size: 20px;
    background-color: skyblue;
    text-align: center;
    grid-column: 3 / 4;  
}
    
    
#foot {
    border-radius: 5%;
    font-size: 20px;
    background-color: hotpink;
    text-align: center;
    grid-column: 4 / 5;
}
    
